html,
body {
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
  background-color: #006666;
  color: white;
  white-space: nowrap;
  font-family: Sans-Serif;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: block;
}

.button:focus {
    outline: none;
  }

.button {
  border-radius: 4px;
  cursor: pointer;
  margin: 0px;
  padding: 2px;
  padding-bottom: 0px;
  border-width: 1px;
  border-color: darkslategray;
  border-style: outset;
  min-width: 40px;
  display: inline-block;
  color: white;
  transition: border-style;
 }

.button:active {
  border-style: inset;
}

.button:hover {
  border-color: #fff;
}

.stationButton:focus {
  outline: none;
}

.stationButton {
border-radius: 4px;
cursor: pointer;
margin: 0px;
padding: 2px;
padding-bottom: 0px;
border-width: 1px;
border-color: darkslategray;
border-style: outset;
min-width: 40px;
max-width: 200px;
display: inline-block;
color: white;
transition: border-style;
}

.stationButton:active {
border-style: inset;
}

.stationButton:hover {
border-color: #fff;

}

.stationBtnImage {
  width: 100%;
  max-width: 200px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 15%;
}

.logDiv {
  text-align: right;
}

.logInput {
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  padding-bottom: 0px;
  border-width: 1px;
  border-color: darkslategray;
  border-style: outset;
  min-width: 40px;
  color: black;
}

#stationArray {
  white-space: normal;
}

#stationCallsign {
  float: left;
  width: 50%
}

#stationLogo {
  float: right;
  width: 50%;
}

#oldLogDates {
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  padding-bottom: 0px;
  border-width: 1px;
  border-color: darkslategray;
  border-style: outset;
  min-width: 40px;
  color: black;
}

#stationMetadata {
  float: left;
  text-align: left;
  width: 40%;
  padding-left: 10%;
  clear: left;
}

#oldLogs {
  float: right;
  width: 50%;
  clear: right;
}

#stationLogData {
  clear: both;
  width: 80%;
  padding-left: 10%;
}

#exportStations {
  float: left;
  width: 40%;
  text-align: left;
  padding-left: 10%;
}

#exportDates {
  float: right;
  width: 40%;
  text-align: left;
  padding-right: 10%;
}

#exportOptions {
  clear: both;
}
